#navbar{
    background-color:#00b894;
    color: rgba(0,0,0,.5);
}

.basicColors{
    background-color:#00b894;
    color: rgba(0,0,0,.5);
}

#dropdownCustom{
    background-color:#00b894;
    color: rgba(0,0,0,.5);
    border: none;
}

#dropdownItem{
    background-color:#00b894;
    color: rgba(0,0,0,.5);
}