.dark{
    background-color: black;
}

.hero{
    /* background: url(../img/leaves2.jpg);
    background-repeat: no-repeat; */
    color: wheat;
    background-color: black;
    height: 50vh;
    border-radius: 5px;
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.title-hero{
    text-align: center;
}

.buttons-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 30%;
}