#navbar{
    background-color:#00b894;
    color: #81ecec;
}

.basicColors{
    background-color:#00b894;
    color: #81ecec;
}

#dropdown-custom{
    background-color:#00b894;
    color: #81ecec;
}

