.flowerListContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.flowerContainer{
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 200px;
height: 200px;
text-align: center;
color: white;
margin: 5px;
}